/* || FONTS */

@font-face{
    font-family: "RobotoThin";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

/* || GENERAL STYLES */

body{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-family: "RobotoThin";
}

h1,
h2,
h3,
h4,
h5{
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
}

h1{
    font-size: 2.75rem;
    line-height: 3rem;
}

h2{
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
}

h2::after{
    content: "";
    display: block;
    width: 5rem;
    height: 2px;
    background-color: rgba(66, 66, 66, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

h3{
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h4{
    font-size: 2rem;
    line-height: 2.25rem;
}

h5{
    font-size: 1.75rem;
    line-height: 2rem;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header,
section{
    width: calc(100% - 4rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

/* || UTILITIES */

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;   
}

.align-center{
    align-items: center;  
}

.justify-center{
    justify-content: center;
}

.bulleted{
    list-style: circle;
}

/* || LAYOUT */

/* header */

header nav{
    align-self: flex-end;
}

header nav ul li{
    display: inline-block;
}

/* about section */

.about{
    text-align: center;
}

.about ul{
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 0;
    border-top: 1px solid black;
}

.about ul li{
    display: inline-block;
    margin: 0 1rem;
}

/* work section */

.positions > li{
    padding: 2rem 0;
    border-bottom: 1px solid black;
}

.positions > li:last-child{
    border-bottom: 0;
}

.stack{
    display: flex;
    width: 100%;
    text-align: center;
}

.stack li{
    display: inline-flex;
    width: 25%;
    padding: 0 .5rem;
    align-items: center;
    justify-content: center;
}

.stack li img{
    width: 100%;
}
