/* || FONTS */

@font-face{
    font-family: "KhandRegular";
    src: url("../fonts/Khand/Khand-Regular.ttf");
}

@font-face{
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face{
    font-family: "RobotoThin";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

/* || GENERAL STYLES */

body{
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "RobotoThin";
}

h1,
h2,
h3,
h4,
h5{
    margin: 0;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
}

h1{
    font-size: 3.25rem;
    line-height: 3.5rem;
    font-family: 'KhandRegular';
    font-weight: 500;
    margin-bottom: 1rem;
}

h2{
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
}

h2::after{
    content: "";
    display: block;
    width: 5rem;
    height: 2px;
    background-color: rgba(66, 66, 66, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

h3{
    font-size: 2rem;
    line-height: 2.25rem;
}

h4{
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
}

h5{
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

p{
    margin: 1.25rem 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section{
    width: calc(100% - 4rem);
    margin-top: 63px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

a:hover
a:focus
a:active{
    text-decoration: underline;
}

i{
    margin-right: 10px;
}

/* || UTILITIES */

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;   
}

.align-center{
    align-items: center;  
}

.justify-center{
    justify-content: center;
}

.bulleted{
    list-style: circle;
}

/* || LAYOUT */

/* header & navigation */

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(237, 123, 50, 1);
}

.fixed,
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hamburger{
    width: 30px;
    padding: 20px;
}

.hamburger span{
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 10px;
}

.hamburger span:last-child{
    margin-bottom: 0;
}

nav{
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: none;
}

nav ul li{
    width: 100%;
}

nav ul li a{
    display: block;
    font-size: 2.25rem;
    padding: 1.5rem 0;
    color: white;
}

/* about section */

.about{
    height: calc(100vh - 63px - 4rem);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.about p{
    margin-bottom: 2rem;
}

.about ul{
    width: fit-content;
    margin: 0 auto;
    padding: 2rem 0;
    border-top: 1px solid black;
}

.about ul li{
    display: inline-block;
    margin: 0 1rem;
}

.about ul li a{
    color: rgba(237, 123, 50, 1);
}

/* work section */

.positions > li{
    padding: 2rem 0;
    border-bottom: 1px solid black;
}

.positions > li:last-child{
    border-bottom: 0;
}

.position,
.responsibilities,
.projects{
    margin-bottom: 3rem;
}

.position{
    display: flex;
    flex-direction: column;
}

.position h3{
    color: rgba(237, 123, 50, 1);
}

.position a::after{
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    margin: .5rem auto;
    background-color: rgba(237, 123, 50, 1);
}

.position span{
    font-size: 1rem;
    align-self: flex-end;
}

.responsibilities ul li{
    margin: .5rem 0;
}

.name{
    font-weight: bold;
    color: rgba(237, 123, 50, 1);
}

.tags{
    display: flex;
    width: 100%;
}

.tags li{
    margin: .5rem;
    padding: .05rem .75rem;
    border-radius: 20px;
    font-size: .75rem;
    color: white;
}

.tags li.upgrade{
    background-color: rgba(124, 235, 128, 1);  
}

.tags li.inactive{
    background-color: rgba(255, 74, 46, 1); 
}

.tags li.unavailable{
    background-color: rgba(143, 143, 143, 1);
}

.stack{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.stack li{
    display: inline-flex;
    width: calc(33.33% - 1rem);
    padding: 1rem .5rem;
    align-items: center;
    justify-content: center;
}

.stack li img{
    width: 100%;
}
